@font-face {
  font-family: 'icomoon';
  src:  url('../assets/fonts/icomoon.eot?rkinmq');
  src:  url('../assets/fonts/icomoon.eot?rkinmq#iefix') format('embedded-opentype'),
    url('../assets/fonts/icomoon.ttf?rkinmq') format('truetype'),
    url('../assets/fonts/icomoon.woff?rkinmq') format('woff'),
    url('../assets/fonts/icomoon.svg?rkinmq#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change ../assets/fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-constellation:before {
  content: "\e925";
  color: #fff;
}
.icon-favorite:before {
  content: "\e948";
  color: #fff;
}
.icon-interest:before {
  content: "\e949";
  color: #fff;
}
.icon-game-rule:before {
  content: "\e901";
  color: #fff;
}
.icon-sound-no:before {
  content: "\e905";
  color: #fff;
}
.icon-music-no:before {
  content: "\e908";
  color: #fff;
}
.icon-sound:before {
  content: "\e902";
  color: #fff;
}
.icon-message:before {
  content: "\e909";
  color: #fff;
}
.icon-history:before {
  content: "\e900";
  color: #fff;
}
.icon-heart-full:before {
  content: "\e903";
  color: #fff;
}
.icon-heart:before {
  content: "\e904";
  color: #fff;
}
.icon-music:before {
  content: "\e906";
  color: #fff;
}
.icon-gift:before {
  content: "\e907";
  color: #fff;
}
.icon-close:before {
  content: "\e90a";
  color: #fff;
}
.icon-menu:before {
  content: "\e90b";
  color: #fff;
}
