@import "../base/var";

.start-page {
    &.Live_PB_DoubleCards {
        background-image: url("./assets/img/common/Live_PB_DoubleCards/rabbit.png"), linear-gradient(to top, #200000, #171614);
        background-repeat: repeat;

        .game-logo {
            background-image: url("./assets/img/"+ $def-lang + "/Live_PB_DoubleCards_logo.png");

            &:lang(zh-cn) {
                background-image: url("./assets/img/zh-cn/Live_PB_DoubleCards_logo.png");
            }

            &:lang(en-us) {
                background-image: url("./assets/img/en-us/Live_PB_DoubleCards_logo.png");
            }
        }
    }
}

.nickname {
    .wrapper {
        border-radius: 3px;
        border: solid 1px #525252;
        background-image: linear-gradient(to top, #171614, #333333);

        .name-box {
            border-radius: 6px;
            background-color: #000000;

            .name {
                margin-left: 6px;
            }

            .icon {
                background: url("./assets/img/icon/bunny.svg") center no-repeat;
            }
        }

        .btn {
            border-radius: 6px;
            background-image: none !important;
            background-color: #ba9a5e;
            letter-spacing: -1.13px;
            text-align: center;
            color: #000000;
            font-size: 22.5px;
            font-weight: bold;
        }
    }
}

.host-profile-popup {
    .profile {
        background-image: linear-gradient(to bottom, #333333, #171614);
        background-color: rgba(255, 255, 255, 0.3);
        .content {
            .name {
                .like-btn {
                    background-color: #ba9a5e;

                    &:hover {
                        background-color: #E2B665;
                    }
                }
            }

            .content-wrapper {
                .detail {
                    color: #ba9a5e;

                    .item {
                        .icon {
                            &::before {
                                color: #ba9a5e;
                            }
                        }
                    }
                }

                .words {
                    color: #b5b5b5;
                }
            }
        }

        &::before {
            display: block;
            content: "";
            background-image: url(./assets/img/icon/big-bunny.svg);
            background-size: contain;
            position: absolute;
            bottom: 0;
            right: 3%;
            background-repeat: no-repeat;
            width: 14%;
            padding-bottom: 14%;
        }
    }
}
