h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 .67rem;
}

p {
    margin: 0;
}

li {
    list-style: none;
}

ul {
    padding: 0;
    margin: 0;
}

.btn {
    cursor: pointer;

    &:disabled {
        cursor: default;
    }
}

img {
    user-select: none;
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    user-drag: none;
}
