.free-spins-notifiy {
    position: absolute;
    width: 70%;
    background-color: rgba(0, 0, 0, 0.36);
    border-radius: 20px;
    margin: 0 auto;
    left: 0;
    right: 0;
    padding-top: 20px;
    padding-bottom: 26px;

    .spins-msg {
        font-size: 20px;
        text-align: center;
        color: #ffffff;
    }
}
