.boost {
    position: absolute;
    right: 10px;
    width: 20%;

    .body {
        width: 100%;

        &.win {
            animation-duration: 1.2s;
            animation-name: boost-win;
            animation-iteration-count: 4;
            animation-timing-function: linear;
            transform-origin: 50% 50%;

            .bird {
                background: url(./assets/img/common/bird_win.png) no-repeat;
                background-size: cover;
                animation-duration: 1.2s;
                animation-name: bird-win;
                animation-timing-function: steps(30);

                @keyframes bird-win {
                    from {
                        background-position-x: 0%;
                    }

                    to {
                        background-position-x: 103.45%;
                    }
                }
            }

            @keyframes boost-win {
                0% {
                    transform: scale(1, 1);
                }

                25% {
                    transform: scale(1.2, 1.2);
                }

                50% {
                    transform: scale(1, 1);
                }

                75% {
                    transform: scale(1.2, 1.2);
                }

                100% {
                    transform: scale(1, 1);
                }
            }
        }

        .bird {
            width: 100%;
            padding-top: 93.75%;
            background: url(./assets/img/common/bird_loop.png) no-repeat;
            animation-duration: .8s;
            animation-name: bird-loop;
            background-size: cover;
            animation-iteration-count: infinite;
            animation-timing-function: steps(15);



            @keyframes bird-loop {
                from {
                    background-position-x: 0%;
                }

                to {
                    background-position-x: 107.14%;
                }
            }
        }

        .wrap {
            width: 50%;
            height: 100%;
            margin: 0 auto;
            margin-top: -10%;

            .bar {
                position: relative;
                width: 100%;
                margin: 0 auto;
                background: url(./assets/img/common/boost-collect-bar.png) center no-repeat;
                background-size: cover;
                background-position: left;
                padding-top: 28%;

                .progress-bar {
                    transition: width .5s ease-in-out;
                    width: 100%;
                    position: absolute;
                    height: 65%;
                    background: url(./assets/img/common/boost-collect-progress-bar.png) no-repeat;
                    left: 0;
                    right: 0;
                    top: 8%;
                    background-size: cover;
                    background-position: left;

                }

                .progress-light {
                    background: url(./assets/img/common/bird_light.png) no-repeat;
                    width: 100%;
                    height: 100%;
                    content: "";
                    position: absolute;
                    right: 0;
                    top: 50%;
                    left: 0;
                    margin: auto;
                    transform: translateX(-75%) translateY(-65%);
                    background-size: cover;
                    background-position: left;
                    animation-duration: .8s;
                    animation-iteration-count: 1;
                    animation-fill-mode: forwards;
                    animation-timing-function: steps(21);
                    transition: left .5s ease-in-out;

                    @keyframes bird-light {
                        from {
                            background-position-x: 0%;
                        }

                        to {
                            background-position-x: 105.4%;
                        }
                    }
                }
            }
        }
    }
}
