.boostRule {
    position: absolute;
    top: 0;
    color: #ffffff;
    width: 100%;
    height: 100%;
    font-size: 12px;
    visibility: hidden;
    transform: scale(0, 0);
    transition: transform .25s ease-in-out;
    transform-origin: 90% 10%;

    &.active {
        visibility: visible;
        transform: scale(1, 1);
    }

    &.close {
        visibility: visible;
        transform: scale(0, 0);
    }

    .mask {
        background: #000000;
        opacity: .3;
    }


    .wrapper {
        position: relative;
        background: url(./assets/img/common/boost-rule-bkg.png) center no-repeat;
        background-size: contain;
        width: 100%;
        height: 65%;
        margin: 0 auto;
        transform: translateY(20%);
        padding: 10%;

        .btn {
            border-radius: 15px;
            background-color: transparent;
            text-align: center;
            padding: 7px;
            background: #000000;
            width: 30px;
            height: 30px;
            position: absolute;
            right: 0;
            font-size: 12px;
            margin-top: -8%;
            margin-right: 10%;
        }

        .header {
            margin: 0 auto;
            border-bottom: 1px solid #ffffff;
            width: 70%;
            text-align: center;
            font-size: 20px;
        }

        .content {
            padding: 11px;
            width: 70%;
            text-align: center;
            margin: 0 auto;

            .text {
                display: block;

                .highlight {
                    color: #ffeb42;
                }

                &::after{
                    display: table;
                    clear: both;
                    content: "";
                }
            }

            .img {
                background-image: url(http://de1-cdn.luckytwist.com/host-game-assets/static/013.png);
                background-size: contain;
                background-repeat: no-repeat;
                background-position: center;
                width: 100%;
                padding-top: 70%;
            }

            .backpack-btn {
                cursor: pointer;
                border-radius: 12.5px;
                border: solid 1px #ffffff;
                background-image: linear-gradient(to bottom, #c320ff, #54adf1 99%);
                width: 70%;
                margin: 0 auto;
                height: 25px;
                line-height: 25px;
            }
        }
    }
}
