.chat-room {
    position: absolute;
    bottom: 50%;
    height: 20%;
    overflow: scroll;
    overflow-x: hidden;
    width: 50%;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    font-size: 14px;
    font-weight: 400;
    word-break: break-word;
    -webkit-overflow-scrolling: touch;
    // background-color: red;
    // opacity: .5;

    .msg {
        border-radius: 12px;
        padding: 5px;
        margin-bottom: 1px;
        width: fit-content;

        &.chat-owner {
            background-color: rgba(27, 27, 27, 0.3);

            .user-name {
                color: #68dfd9;
            }
        }

        &.chat-other {
            background-color: rgba(27, 27, 27, 0.3);

            .user-name {
                color: #ffd285;
            }
        }

        &.chat-host {
            background-color: rgba(131, 25, 255, 0.5);

            .user-name {
                color: #fff600;
            }
        }

        &.chat-system {
            background-color: rgba(255, 0, 142, 0.3);
            position: fixed;
            width: 50%;

            .user-name {
                color: #fff000;
            }
        }

        .user-text {
            color: #ffffff;
        }

    }
}
