.sys-error-msg {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;

    .mask {
        background-color: rgba(0, 0, 0, 0.8);
    }

    .content {
        position: absolute;
        top: 50%;
        margin: 0 auto;
        text-align: center;
        transform: translateY(-50%);
        width: 100%;
        color: #ffffff;

        .msg {
            padding-bottom: 20px;
        }

        .button {
            width: 70px;
            height: 70px;
            background-color: #ffffff;
            border-radius: 50%;
            margin: 0 auto;
            position: relative;

            .icon {
                background: url(./assets/img/icon/reload.svg) center no-repeat;
                height: 34px;
                width: 100%;
                display: block;
                background-size: contain;
                top: 50%;
                position: absolute;
                transform: translateY(-50%);
            }
        }
    }
}

.user-error-msg {
    position: absolute;
    background: #1b1b1b;
    width: 100%;
    font-size: 18px;
    color: #ffffff;
    height: 43px;
    text-align: center;
    line-height: 43px;
    border-radius: 1.5px;
    opacity: 0;
    transform: translateY(-100%);
    transition: .25s ease-in-out;

    &.about-balance {
        background: #bf6767;
    }

    &.active {
        opacity: 0.9;
        transform: translateY(0);
    }
}
