.gift-list-body {
    background-image: linear-gradient(to top, #171614, #333333);
    padding: 5px 0 0 0;
    position: absolute;
    bottom: 52px;
    animation-name: slide-up;
    animation-duration: .5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    width: 100%;

    .gift-tabs {
        color: #757a80;
        font-size: 15px;
        padding-bottom: 5px;

        &::after {
            clear: both;
            display: table;
            content: "";
        }

        li {
            float: left;
            padding: 5px 10px;
            cursor: pointer;
        }

        .active {
            color: #ffffff;
            border-bottom: 2px solid #de4ab9;
        }
    }

    .gift-content {
        display: flex;
        flex-flow: row;
        flex-wrap: nowrap;
        color: #b1b1b1;
        transition: 0.5s ease-in-out;
        -webkit-touch-callout: none;
        /* iOS Safari */
        -webkit-user-select: none;
        /* Safari */
        -khtml-user-select: none;
        /* Konqueror HTML */
        -moz-user-select: none;
        /* Firefox */
        -ms-user-select: none;
        /* Internet Explorer/Edge */
        user-select: none;
        /* Non-prefixed version, currently
            supported by Chrome and Opera */

        .gift-list {
            margin: 0;
            padding: 0;
            padding-top: 5px;
            display: flex;
            flex-flow: row;
            flex-wrap: wrap;
            list-style: none;
            border-top: 1px solid #ffffff7a;
            width: 100%;
            flex-shrink: 0;

            li {
                width: calc(100% / 4);
                padding: 1px;
                position: relative;

                &.error {

                    &::before {
                        content: "";
                        display: block;
                        position: absolute;
                        background: #000000;
                        opacity: .7;
                        width: 100%;
                        height: 100%;
                        top: 0;
                    }

                    &::after {
                        content: "";
                        background: url(./assets/img/icon/error-symbol.svg) center no-repeat;
                        width: 36px;
                        height: 100%;
                        position: absolute;
                        top: 50%;
                        margin: 0 auto;
                        display: block;
                        left: 0;
                        right: 0;
                        transform: translateY(-50%);
                        background-size: contain;
                    }
                }
            }
        }
    }

    .footer {
        justify-content: space-between;
        align-items: center;
        height: 50px;
        color: #000000;

        &::after {
            clear: both;
            display: table;
            content: "";
        }

        .btn-send-gift {
            float: right;
            margin: 0 5px;
            width: 153px;
            min-width: 86px;
            height: 36px;
            font-weight: 600;
            text-align: center;
            border: solid 2px #ffffff;
            border-radius: 35.5px;
            background-image: linear-gradient(to top, #8c8c8c, #f4f4f4);

            &:disabled {
                color: #ffffff;
                border: solid 1px #ffffff;
                background-image: linear-gradient(to top, #2a2a2a, #333333);

                &:hover {
                    color: #000000;
                    border: none;
                    background-image: linear-gradient(to top, #2a2a2a, #333333);
                }
            }

            &:hover {
                color: #3c0000;
                border: solid 2px #ffffff;
                background-image: linear-gradient(to top, #c0f2ff, #ffffff);
            }

            &:focus {
                outline: none;
            }
        }
    }

    .gift-pagination {
        display: inline-block;
        width: 100%;
        text-align: center;

        .pagination-point {
            display: inline-block;
            width: 4px;
            height: 4px;
            background-color: #535353;
            border-radius: 4px;
            vertical-align: middle;
            margin: 5px 10px;

            &.active {
                border: 4px solid #ffffff;
            }
        }
    }
}
