.gift-history {
    position: relative;
    bottom: 52px;
    visibility: hidden;

    &.scroll-wrapper {
        display: block;
        position: absolute;
        height: 100%;
        width: 100%;

        .mask {
            background: rgba(0, 0, 0, 0.5);
        }

        .wrapper {
            transition: .5s ease-in-out;
            height: 70%;
            width: 100%;
            position: absolute;
            bottom: 0px;
            transform: translateY(100%);


            iframe {
                display: block;
                height: calc(100% - 15px);
                width: 100%;
                border: none;
            }

            .bar {
                width: 100px;
                height: 5px;
                border-radius: 6px;
                background-color: #a8a8a8;
                margin: 5px auto;
            }
        }
    }

    &.active {
        visibility: visible;

        .wrapper {
            transform: translateY(0%);
        }
    }
}
