.gift-animation {
    position: absolute;
    min-width: 40%;
    border-radius: 10px;
    animation-duration: 6s;
    background-image: linear-gradient(105deg, #3023ae, rgba(200, 109, 215, 0));
    animation-name: slide-in-out;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;

    &.boost-gift {
        background-color: rgba(0, 0, 0, 0.36);
        background-image: none;
    }

    &.fadeaway-instantly {
        animation-duration: 6s;
    }

    .txt-box {

        font-size: 12px;
        display: inline-block;
        vertical-align: middle;
        padding-left: 20px;

        &.boost-gift {

            top: 70%;

            .user {
                color: #ffffff;
            }

            .host {
                color: #ffd800;
                margin-left: 0;
            }

            .free-spins-times {
                color: #26f6ff;
                font-size: 16px;
            }
        }

        .user {
            color: #f5a623;
            width: 100px;
            display: inline-block;
            vertical-align: middle;
        }

        .gift-label {
            color: #f65894;
        }

        .gift-label,
        .host {
            display: inline-block;
            vertical-align: middle;
        }

        .host {
            color: #ffffff;
            margin-left: 5px;
        }
    }

    .gift-item {
        display: inline-block;
        vertical-align: middle;
        width: 80px;
        height: 80px;
        overflow: hidden;

        .animation,
        .static {
            display: block;
            height: 80px;
            background-size: cover;
        }

        .animation {
            animation: play-gift-animation .8s steps(15) infinite;
            width: calc(100% * 16);
        }

        @keyframes play-gift-animation {
            from {
                transform: translateX(0%);
            }

            to {
                transform: translateX(-100%);
            }
        }
    }
}

.gift-fullscreen-animation {
    position: absolute;
    animation-duration: 3s;
    animation-name: fullscreen-anim-fadeInOut;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    right: 0;
    left: 0;
    margin: auto;

    .animation {
        overflow: hidden;
        width: 100%;
        height: 100%;
        margin: 0 auto;

        .gift-item {
            width: calc(100% * 15);
            display: block;
            height: 100%;
            background-size: contain;
            margin: 0 auto;
            animation: play-gift-full-screen-animation 1s steps(15) infinite;
            background-repeat: no-repeat;
        }

        @keyframes play-gift-full-screen-animation {
            from {
                transform: translateX(0%);
            }

            to {
                transform: translateX(-100%);
            }
        }
    }

    .txt-box {
        border-radius: 13.5px;
        border: solid 1px #b149f3;
        background-color: #3a1389;
        width: 50%;
        letter-spacing: -0.21px;
        text-align: center;
        color: #ffffff;
        margin: 0 auto;
        position: absolute;
        left: 0;
        right: 0;
        top: 87%;

        &.boost-gift {
            color: #ffffff;
            border-radius: 20px;
            border: none;
            background-color: rgba(0, 0, 0, 0.36);
            height: auto;
            width: 80%;
            letter-spacing: 1.8px;
            padding: 10px;
            top: 72%;

            @media (max-width: 410px) {
                height: 25%;
            }
        }
    }

    @keyframes fullscreen-anim-fadeInOut {
        0% {
            transform: scale(0, 0);
        }

        10% {
            transform: scale(1, 1);
        }

        90% {
            transform: scale(1, 1);
        }

        100% {
            transform: scale(0, 0);
        }
    }
}
