.gift {
    box-sizing: border-box;
    cursor: pointer;
    padding: 6px 0;
    // outline: 1px solid #d8d8d8;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    border: 1px solid #273238;
    border-radius: 8px;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    background-color: #5e5e5e;

    &.coming-soon {
        background: #3a4549;
        cursor: not-allowed;
    }

    .gift-image {
        margin: 0 0 13px 0;
        width: 52.63157895%;
    }

    .gift-value {
        font-size: 11px;
        line-height: 16px;

        &.coming-soon {
            color: #555e63;
        }
    }



    &.selected, &:hover {
        border-radius: 10px;
        background-color: #ffffff;
        color: #171614;
    }

    input {
        display: none;
    }
}
