.host-profile {
    position: absolute;
    top: 8px;
    left: 8px;
    font-size: 11px;
    color: #fff;

    &:hover {
        cursor: pointer;
    }

    .host-info {
        border-radius: 26px;
        background-color: rgba(0, 0, 0, 0.45);
        min-width: 155px;
        padding-right: 20px;
        height: 50px;
        display: flex;
        align-items: center;
        flex-flow: row;

        .host-photo {
            border: 1px solid #ffffff;
            border-radius: 50%;
            width: 50px;
            height: 50px;
        }

        .content {
            padding-left: 8px;
            .host-name {
                font-size: 16px;
                font-weight: 600;
            }

            .like {
                display: flex;
                align-items: center;

                .icon {
                    font-size: 12px;
                }

                .number {
                    font-size: 12px;
                    line-height: 1.83;
                    text-align: left;
                    color: #d8d8d8;
                    padding-left: 2.4px;
                }

            }
        }
    }
}
