.host-profile-popup {
    position: absolute;
    top: 0;
    color: #ffffff;
    width: 100%;
    height: 100%;
    transition: transform .25s ease-in-out;
    transform: scale(0, 0);
    transform-origin: 7% 4%;
    display: flex;
    align-items: center;
    justify-content: center;

    &.active {
        transform: scale(1, 1);
    }

    .mask {
        background: rgba(0, 0, 0, 0.65);
        z-index: -1;
    }

    .profile {
        border-radius: 10px;
        border: solid 1px rgba(255, 255, 255, 0.3);
        background-color: #513553;
        width: 80%;
        height: 70%;
        background-size: contain;
        background-repeat: no-repeat;
        margin: 0 auto;
        position: relative;
        overflow: hidden;

        .pic {
            background-image: url(http://de1-cdn.allstar-interactive.com/host-game-assets/profile/LUNA/LUNA-HEAD.png);
            width: 100%;
            height: 50%;
            background-size: cover;
            background-repeat: no-repeat;
            position: relative;
            background-color: #ffffff;

            .gradient {
                position: absolute;
                bottom: 0;
                width: 100%;
                height: 60px;
                background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5));
            }
        }

        .content {
            padding-left: 30px;
            padding-right: 30px;
            margin-top: -18px;
            position: relative;
            height: 50%;

            .name {
                display: flex;
                font-size: 28px;
                line-height: 0.71;
                letter-spacing: 2.8px;
                text-align: left;
                color: #ffffff;
                align-items: center;
                justify-content: space-between;

                .txt {
                    line-height: 1em;
                }

                .like-btn {
                    box-shadow: 0 8px 6px 0 rgba(0, 0, 0, 0.16);
                    background-color: #ff0080;
                    width: 36px;
                    height: 36px;
                    border-radius: 50%;
                    font-size: 15px;
                    padding: 12px 10px;

                    &:hover {
                        background-color: #ff4da6;
                        cursor: pointer;
                    }
                }
            }

            .like {
                display: flex;
                align-items: center;
                padding-bottom: 6px;

                .icon {
                    width: 8px;
                    height: 7px;
                    background-image: url(./assets/img/common/profile-hearts.svg);
                    background-repeat: no-repeat;
                }

                .number {
                    font-size: 12px;
                    line-height: 1.83;
                    text-align: left;
                    color: #d8d8d8;
                    padding-left: 2.4px;
                }

            }

            .content-wrapper {
                overflow: hidden;
                overflow-y: auto;
                height: inherit;
                font-size: 13px;
                white-space: normal;

                .detail {
                    font-weight: 500;
                    line-height: 1.47;
                    text-align: left;
                    color: #fcc3f7;
                    padding-bottom: 16px;

                    .item {
                        display: flex;
                        align-items: center;
                        align-items: baseline;

                        .icon {
                            &::before {
                                color: #fcc3f7;
                            }
                        }

                        .title {
                            margin-left: 5px;
                        }

                        .txt {}
                    }
                }

                .words {
                    font-weight: 500;
                    line-height: 1.47;
                    text-align: left;
                    color: #c7a9fc;
                }
            }
        }


        .btn {
            text-align: center;
            font-size: 12px;
            font-weight: bolder;
            width: 32px;
            height: 32px;
            box-shadow: 0 8px 6px 0 rgba(0, 0, 0, 0.16);
            border-radius: 50%;
            background-color: rgba(255, 255, 255, 0.8);
            position: absolute;
            padding: 8px;
            top: 1.6%;
            right: 2.6%;

            .icon-close {
                &::before {
                    color: #000000;
                }
            }
        }
    }
}
