.iframe-reconnect-game {
    .mask {
        background: #000000;
        opacity: .6;
    }

    .content {
        position: absolute;
        top: 50%;
        margin: 0 auto;
        text-align: center;
        transform: translateY(-50%);
        width: 100%;
        color: #ffffff;

        .msg {
            padding-bottom: 20px;
        }
        .loading {
            background: url("./assets/img/common/loading.svg") center;
            height: 65.9px;
            width: 100%;
            background-size: contain;
            background-repeat: no-repeat;
            animation-duration: 1s;
            animation-name: reconnect-Anim;
            animation-iteration-count: infinite;
            animation-timing-function: steps(10);
        }

        @keyframes reconnect-Anim {
            from {
                transform: rotateZ(0defg);
            }

            to {
                transform: rotateZ(360deg);
            }
        }
    }

}
