.input-text-box {
    position: absolute;
    top: 0;
    bottom: 52px;
    left: 0;
    right: 0;
    margin: auto;
    overflow: hidden;

    .mask {
        z-index: 1;
    }
    .input-section {
        position: absolute;
        bottom: 0px;
        display: flex;
        -ms-flex-pack: center;
        justify-content: center;
        -ms-flex-align: center;
        align-items: center;
        padding: 0 10px 3px 10px;
        height: 45px;
        width: 100%;
        background-color: #ffffff;
        z-index: 1;

        .box {
            width: calc(95% - 40px);
            border-radius: 19px;
            border: 1px solid #d8d8d8;
            position: absolute;
            top: 6px;
            left: 10px;
            height: 34px;
            padding: 0 15px;
            outline: none;

            &::placeholder {
                color: #9fa3a7;
            }
        }

        .btn {
            border: none;
            width: 40px;
            height: 40px;
            display: -ms-flexbox;
            display: flex;
            -ms-flex-pack: center;
            justify-content: center;
            -ms-flex-align: center;
            align-items: center;
            padding: 0;
            position: absolute;
            background: #ffffff;

            &.btn-send {
                right: 9px;
                opacity: .5;
            }
        }
    }

}
