$color-loader: #ffffff;

.loading-page {
    background-image: linear-gradient(to top, #25dc3b, #32b6e3);
    background-repeat: repeat-y;
    position: absolute;
    height: 100vh;
    width: 100%;
    top: 0;
    z-index: 1;

    .mg {
        position: absolute;
        top: 40%;
        width: 100%;

        .mg-logo {
            background: url("./assets/img/common/mg_logo.svg") center;
            height: 70px;
            display: block;
            background-size: contain;
            background-repeat: no-repeat;
        }
    }

    .loading {
        width: 250px;
        height: 50px;
        line-height: 50px;
        text-align: center;
        position: absolute;
        top: 55%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-family: helvetica, arial, sans-serif;
        text-transform: uppercase;
        font-weight: 900;
        color: $color-loader;
        letter-spacing: 0.2em;
        margin-top: 20px;

        &::before,
        &::after {
            content: "";
            display: block;
            width: 15px;
            height: 15px;
            background: $color-loader;
            position: absolute;
            animation: loading-Anim .7s infinite alternate ease-in-out;
        }

        &::before {
            top: 0;
        }

        &::after {
            bottom: 0;
        }
    }

    @keyframes loading-Anim {
        0% {
            left: 0;
            height: 30px;
            width: 15px
        }

        50% {
            height: 8px;
            width: 40px
        }

        100% {
            left: 235px;
            height: 30px;
            width: 15px
        }
    }
}
