.menubar-section {
    position: absolute;
    bottom: 0;
    width: 100%;
    font-size: 20px;

    section {
        position: absolute;
        bottom: 0;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 10px 3px 10px;
        background: #1d1e22;
        height: 55px;

        &.main-menu {
            .btn {
                flex: 1 4;
            }
        }

        &.sub-menu {
            visibility: hidden;

            &.active {
                visibility: visible;
            }

            .btn {
                flex: 1 5;
            }
        }


        // @include transform(translateY(50%));
        &.main-menu,
        &.sub-menu {
            .btn {
                // background: #fff;
                // border-radius: 50%;
                background-color: transparent;
                border: none;
                text-align: center;
                padding: 15px 5px;
                -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
                position: relative;

                &::before {
                    color: #ffffff;
                }

                &:hover {
                    &::before {
                        font-size: 22px;
                        color:#f434e9
                    }
                }

                &.active {
                    &::before {
                        color:#f434e9
                    }
                }

                &.icon-gift {
                    &::before {
                        color: #2db4ff;
                    }
                    .boom {
                        display: none;
                        position: absolute;
                        left: 0;
                        right: 0;
                        top: 50%;
                        transform: translateY(-50%);

                        &.active {
                            display: block;
                            animation-name: boom;
                            animation-duration: 1s;
                            animation-iteration-count: 1;
                        }

                        @keyframes boom {
                            5% {
                                opacity: 1;
                            }

                            10% {
                                opacity: 0;
                            }

                            15% {
                                opacity: 1;
                            }

                            20% {
                                opacity: 0;
                            }

                            25% {
                                opacity: 1;
                            }

                            30% {
                                opacity: 0;
                            }

                            35% {
                                opacity: 1;
                            }

                            40% {
                                opacity: 0;
                            }

                            45% {
                                opacity: 1;
                            }

                            49% {
                                transform: scale(1) translateY(-50%);
                            }

                            50% {
                                transform: scale(3) translateY(-50%);
                                opacity: 0;
                            }

                            100% {
                                transform: scale(1) translateY(-50%);
                                opacity: 1;
                            }
                        }

                        &::before {
                            color: #00ffff;
                        }
                    }

                    &.point {
                        &::after {
                            display: block;
                            content: "";
                            width: 7px;
                            height: 7px;
                            position: absolute;
                            top: 3px;
                            right: 43%;
                            border-radius: 50%;
                            background-color: #00ffff;
                            left: 57%;
                        }
                    }
                }

                &.disabled::before {
                    color: #3b3b3b;
                }
            }
        }
    }
}
