.nickname {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;

    .mask {
        background: #000000;
        opacity: 0.8;
    }

    .wrapper {
        position: absolute;
        background: #323f46;
        height: 220px;
        width: 90%;
        right: 0;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        margin: auto;
        padding: 20px;
        display: flex;
        flex-flow: column;
        flex-wrap: nowrap;
        border-radius: 2.5px;
        opacity: 0.9;
        -webkit-box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.75);
        box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.75);

        .name-box {
            margin: 0 auto;
            margin-top: 20px;
            width: 100%;
            background: #202028;
            border-radius: 14.5px;
            display: flex;
            align-items: center;
            flex: 0 32px;
            border: 1px solid rgba(255, 255, 255, 0);

            &.wrong {
                border: 1px solid #ff6565;
            }

            .icon {
                flex: 0 0 18px;
                height: 22px;
                width: 18px;
                background: url("./assets/img/icon/user.svg") center no-repeat;
                background-size: contain;
                margin-left: 10px;
            }

            .name {
                flex: 1;
                background: rgba(0, 0, 0, 0);
                border: none;
                color: #ffffff;
                padding: 5px;

                &:focus {
                    outline: none;
                }
            }

            .checked-box {
                flex: 0 0 18px;
                height: 100%;
                text-align: center;
                margin-right: 10px;

                .icon-checked,
                .icon-wrong {
                    font-size: 20px;
                    height: 100%;
                    line-height: 28px;
                }

                .icon-checked {
                    .path1::before {
                        color: #40de5e;
                    }
                }

                .icon-wrong {
                    .path1::before {
                        color: #ff3f46;
                    }
                }
            }
        }

        .wrong-msg {
            flex: 1;
            background: #0000;
            border: none;
            color: #ff3f46;
            font-size: 12px;
            font-weight: bolder;
            padding: 2px 10px;
        }

        .tip {
            flex: 0;
            text-align: center;
            color: #ffffff;
            padding: 10px;
            font-size: 16px;
        }

        .btn {
            flex: 0;
            margin: 0 auto;
            text-align: center;
            width: 129px;
            height: 26px;
            border-radius: 12.5px;
            background-image: linear-gradient(172deg, #505150, #6e6e6e 64%, #646464);
            line-height: 26px;
            color: #ffffff;
            margin-top: 10px;

            &.active {
                background-image: linear-gradient(172deg, #c320ff, #54adf1 99%);
            }
        }
    }
}
