.ori-note {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 99999;

    .mask {
        background-color: rgba(0, 0, 0, 0.8);
    }

    .content {
        position: absolute;
        top: 50%;
        text-align: center;
        transform: translateY(-50%);
        width: 100%;
        color: #ffffff;

        .icon {
            background: url("./assets/img/icon/orientation.svg") center no-repeat;
            height: 34px;
            width: 100%;
            background-size: contain;
        }

        .txt {
            padding-top: 15px;
            width: 80%;
            margin: 0 auto;
        }
    }
}
