.program-time {
    font-size: 11px;
    color: #fff;
    width: 136px;
    height: 22px;
    line-height: 22px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, .38);
    margin: 0;
    display: flex;
    flex-flow: row;
    justify-content: center;
}
