.game-rule {
    position: absolute;
    height: calc(100vh - 55px);
    width: 100%;
    bottom: 55px;

    p {
        padding-bottom: 3px;
    }

    &.active {
        .wrapper {
            transform: translateY(0%);
        }

        .wrapper-body {
            transform: translateY(0%);
        }
    }

    &.hidden {
        visibility: hidden;
    }

    .mask {
        background: #000000;
        opacity: .3;
    }

    &.Live_QuadrupleDice {
        .banner {
            background: url("./assets/img/common/Live_QuadrupleDice/RuleBanner.png") center no-repeat;
        }
    }

    &.Live_DoubleCardsTurbo {
        .banner {
            background: url("./assets/img/common/Live_DoubleCardsTurbo/RuleBanner.png") center no-repeat;
        }
    }

    &.Live_PB_DoubleCards {
        .banner {
            background: url("./assets/img/common/Live_PB_DoubleCards/RuleBanner.png") center no-repeat;
        }
    }

    .wrapper {
        position: absolute;
        background-color: #323f46;
        bottom: 0;
        padding: 20px 0px;
        color: #ffffff;
        font-size: 16px;
        height: 70%;
        width: 100%;
        transition: transform .5s ease-in-out;
        transform: translateY(100%);

        &::before {
            display: block;
            content: "";
            width: 100px;
            height: 8px;
            border-radius: 6px;
            background-color: #a8a8a8;
            margin: auto;
            position: absolute;
            right: 0;
            left: 0;
            top: -4px;
        }

        .header {
            text-align: center;
            padding-bottom: 10px;
        }

        .wrapper-container {
            height: 100%;
            .wrapper-body {
                overflow: hidden;
                overflow-y: auto;
                -webkit-overflow-scrolling: touch;
                height: calc(100% - 15px);

                .banner {
                    width: 100%;
                    padding-top: 22%;
                    background-size: contain;
                    margin-bottom: 22px;
                }

                .slogan {
                    text-align: center;
                    color: #ffd800;
                    font-size: 22px;
                    font-weight: 900;
                    margin-bottom: 30px;
                }

                .content {
                    padding: 0 20px 20px 20px;

                    .block {
                        padding-bottom: 20px;

                        &.bonus {
                            .title {
                                font-size: 16px;
                                color: #000000;
                                border-radius: 16px;
                                background-color: #ffd800;
                                width: fit-content;
                                padding: 3px 17px;
                            }

                            .detail {
                                padding-top: 6px;
                                color: #ffd800;
                            }
                        }

                        .title {
                            font-weight: 900;
                        }

                        .detail {
                            color: #999999;
                            font-size: 15px;

                            ul {
                                padding: 20px 16px;
                            }
                        }

                        .note {
                            font-size: 13px;
                            color: #6d9cbf;
                        }

                        .bet-setion {
                            padding-top: 33%;
                            background-repeat: no-repeat;
                            background-position: center;
                            background-position-x: center;
                            background-position-y: center;
                        }
                    }
                }

            }

        }
    }
}


.slot-rule {
    p {
        padding-bottom: 0px !important;
    }

    .red-color {
        color: #ff5a4e;
    }

    span.count {
        margin-right: 8px;
    }

    .game-rule {
        padding-left: 10px;
        padding-right: 10px;

        p {
            padding-bottom: 0px;
            margin-bottom: -2px;
        }
    }

    .split-line {
        display: flex;
        justify-content: space-between;
        margin-top: 25px;
        margin-bottom: 25px;

        .dot {
            background: #6f6f6f;
            width: 6px;
            height: 6px;
            border-radius: 6px;
        }
    }

    .row {
        margin-bottom: 2px;
        display: flex;
        justify-content: space-between;
    }

    .block,
    .special-symbol,
    .symbol {
        background: #3c4e58;
    }

    .payline-section {
        .row {
            margin-bottom: 15px;
            justify-content: space-around;
        }

        .explain {
            margin-bottom: 25px;
            padding-left: 20px;

            ul {
                margin-left: 20px;

                li {
                    list-style: initial;
                }
            }
        }
    }

    .payline {
        width: 28%;
        margin-bottom: 24px;

        .row {
            margin-bottom: 3px;
            justify-content: space-between;

            .box {
                width: 17%;
                padding-bottom: 17%;
                background: #5f5f5f;
                margin-left: 3px;

                &.active {
                    background: #facd89;
                }
            }
        }
    }

    div.special-symbol {
        width: 100%;
        display: flex;
        align-items: center;
        font-size: 15px;
        padding-left: 5%;
        padding-right: 5%;

        img {
            width: 25%;
            /* padding-bottom: 23%; */
            padding-top: 3%;
            padding-bottom: 3%;
            margin-right: 8px;
        }

        div.title {
            color: #ff5a4e;
        }
    }

    .paytable-section {

        .symbol-block {
            margin-bottom: 5px;
        }

        .explain {
            background: #3c4e58;
            width: 100%;
            padding: 4% 6% 4% 6%;
        }

        .center-symbol {
            justify-content: center;
        }

        .special-symbol {
            div>p:nth-child(2) {
                color: #ffe765;
            }
        }

        div.symbol {
            width: 49.75%;
            display: flex;
            padding-left: 5%;
            align-items: center;
            padding-top: 3%;
            padding-bottom: 3%;

            img {
                width: 42%;
                margin-right: 5%;
            }

            p {
                padding: 0;
                font-size: 15px;
            }

            div>p:first-child {
                color: #ffe765;
            }
        }

        ul {
            padding-left: 20px;
        }
    }

    .explain-section {
        .special-symbol {
            justify-content: center;

            div>p:nth-child(2) {
                color: #8f8c7b;
            }

            img {
                margin-right: 6%;
            }

            padding-bottom: 3%;
            padding-top: 3%;
        }

        .game-explain {
            padding-top: 12px;
            padding-left: 22px;
            padding-right: 22px;
            font-size: 14px;

            img {
                margin-bottom: 10px;
            }

            ul {
                margin-left: 20px;

                li {
                    list-style: initial;
                    margin-bottom: 10px;

                    &:last-child {
                        margin-bottom: 0px;
                    }
                }
            }
        }
    }

    &.ChineseNoodle {
        .box.active {
            background: #ffb11a !important;
        }

        .free-spin {
            color: #ff5a4e;
            margin-top: 12px;
            margin-bottom: 12px;
            font-size: 16px;
        }
    }

    &.SnakeLady {
        .box.active {
            background: #aa89bd !important;
        }
    }

    &.Jungle {
        .box.active {
            background: #a0be5d !important;
        }
    }

    &.Spin168 {
        .payline {
            .row {
                justify-content: center;
            }
        }

        .box.active {
            background: #ffb11a !important;
        }
    }
}
