.start-page {
    background-image: linear-gradient(to right, #000000, #333333);

    &.Live_QuadrupleDice {
        background-image: linear-gradient(to top, #9a37c3, #441189, #030000);

        .game-logo {
            background-image: url("./assets/img/"+ $def-lang + "/Live_QuadrupleDice_logo.png");

            &:lang(zh-cn) {
                background-image: url("./assets/img/zh-cn/Live_QuadrupleDice_logo.png");
            }

            &:lang(en-us) {
                background-image: url("./assets/img/en-us/Live_QuadrupleDice_logo.png");
            }
        }
    }

    &.Live_FireDice {
        background-image: linear-gradient(to right, #000000, #333333);

        .game-logo {
            background-image: url("./assets/img/"+ $def-lang + "/Live_FireDice_logo.png");

            &:lang(zh-cn) {
                background-image: url("./assets/img/zh-cn/Live_FireDice_logo.png");
            }

            &:lang(en-us) {
                background-image: url("./assets/img/en-us/Live_FireDice_logo.png");
            }
        }
    }

    &.Live_FireDiceTurbo {
        background-image: linear-gradient(to right, #4a62c5, #9a3dd3);

        .game-logo {
            background-image: url("./assets/img/"+ $def-lang + "/Live_FireDiceTurbo_logo.png");

            &:lang(zh-cn) {
                background-image: url("./assets/img/zh-cn/Live_FireDiceTurbo_logo.png");
            }

            &:lang(en-us) {
                background-image: url("./assets/img/en-us/Live_FireDiceTurbo_logo.png");
            }
        }
    }

    &.Live_DoubleCards {
        background-image: linear-gradient(151deg, #15e9e9, #8f1cec);

        .game-logo {
            background-image: url("./assets/img/"+ $def-lang + "/Live_DoubleCards_logo.png");

            &:lang(zh-cn) {
                background-image: url("./assets/img/zh-cn/Live_DoubleCards_logo.png");
            }

            &:lang(en-us) {
                background-image: url("./assets/img/en-us/Live_DoubleCards_logo.png");
            }
        }
    }

    &.Live_DoubleCardsTurbo {
        background-image: linear-gradient(to top, #e67300, #ffea00);

        .game-logo {
            background-image: url("./assets/img/"+ $def-lang + "/Live_DoubleCardsTurbo_logo.png");

            &:lang(zh-cn) {
                background-image: url("./assets/img/zh-cn/Live_DoubleCardsTurbo_logo.png");
            }

            &:lang(en-us) {
                background-image: url("./assets/img/en-us/Live_DoubleCardsTurbo_logo.png");
            }
        }
    }

    &.Live_WesternJourney {
        background-image: linear-gradient(to top, #f9e46f, #b68327);

        .game-logo {
            background-image: url("./assets/img/"+ $def-lang + "/Live_WesternJourney_logo.png");

            &:lang(zh-cn) {
                background-image: url("./assets/img/zh-cn/Live_WesternJourney_logo.png");
            }

            &:lang(en-us) {
                background-image: url("./assets/img/en-us/Live_WesternJourney_logo.png");
            }
        }
    }

    &.Live_Jungle {
        background-image: linear-gradient(to top, #3b702d, #d7df38);

        .game-logo {
            background-image: url("./assets/img/"+ $def-lang + "/Live_Jungle_logo.png");

            &:lang(zh-cn) {
                background-image: url("./assets/img/zh-cn/Live_Jungle_logo.png");
            }

            &:lang(en-us) {
                background-image: url("./assets/img/en-us/Live_Jungle_logo.png");
            }
        }
    }

    &.Live_SnakeLady {
        background-image: linear-gradient(to top, #071126, #4677dd);

        .game-logo {
            background-image: url("./assets/img/"+ $def-lang + "/Live_SnakeLady_logo.png");

            &:lang(zh-cn) {
                background-image: url("./assets/img/zh-cn/Live_SnakeLady_logo.png");
            }

            &:lang(en-us) {
                background-image: url("./assets/img/en-us/Live_SnakeLady_logo.png");
            }
        }
    }

    &.Live_ChineseNoodle {
        background-image: linear-gradient(to top, #cf8132, #f6de55);

        .game-logo {
            background-image: url("./assets/img/"+ $def-lang + "/Live_ChineseNoodle_logo.png");

            &:lang(zh-cn) {
                background-image: url("./assets/img/zh-cn/Live_ChineseNoodle_logo.png");
            }

            &:lang(en-us) {
                background-image: url("./assets/img/en-us/Live_ChineseNoodle_logo.png");
            }
        }
    }

    &.Live_Spin168 {
        background-image: linear-gradient(to top, #48231c, #ffd35d);

        .game-logo {
            background-image: url("./assets/img/"+ $def-lang + "/Live_Spin168_logo.png");

            &:lang(zh-cn) {
                background-image: url("./assets/img/zh-cn/Live_Spin168_logo.png");
            }

            &:lang(en-us) {
                background-image: url("./assets/img/en-us/Live_Spin168_logo.png");
            }
        }
    }

    background-repeat: repeat-y;
    position: absolute;
    height: 100vh;
    width: 100%;
    top: 0;
    z-index: 1;
    overflow: hidden;

    .wrapper {
        position: relative;
        top: 20%;

        .game-logo {
            padding-top: 70%;
            width: 100%;
            animation-name: show-logo;
            animation-duration: .5s;
            animation-timing-function: cubic-bezier(.17, .67, .63, 1.63);
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
        }

        .start-btn {
            background: url("./assets/img/common/start_btn.svg") center no-repeat;
            padding-top: 18%;
            margin-top: 5%;
            width: 100%;
            display: block;
            background-size: contain;
        }

        .txt {
            font-size: 16px;
            color: #ffffff;
            width: 90%;
            text-align: center;
            margin: 0 auto;
            padding: 20px;
        }

        .message {
            padding: 20px 0;

            .icon {
                padding-bottom: 20px;
                display: flex;
                justify-content: center;

                i {

                    width: 50px;
                    height: 50px;
                    background-repeat: no-repeat;
                    background-size: contain;
                    background-position: center;
                    flex: 0 0 20%;

                    &.chrome {
                        background-image: url("./assets/img/icon/chrome.svg");
                    }

                    &.safari {
                        background-image: url("./assets/img/icon/safari.svg");
                    }
                }

            }
        }
    }

    .copyright {
        position: absolute;
        bottom: 6px;
        margin: auto;
        left: 0;
        right: 0;
        text-align: center;
        font-size: 12px;
        width: 100%;
        color: #747474;
    }

    @keyframes show-logo {
        from {
            transform: scale(0, 0);
        }

        to {
            transform: scale(1, 1);
        }
    }


}
