video {
    transition: opacity .8s ease-in-out;
    overflow: hidden;
    max-width: 100%;
    width: 100%;
    opacity: 1;
    position: absolute;

    // height: 100vh;
    // display: block;
    // margin: 0 auto;
    &.leave {
        opacity: 0;
    }

    &.ucBrowser {
        width: 50%;
        right: 0;
        height: calc(100vh - (100vw / (750 / 616)) - 128px - 25px);
        top: 80px;
        margin: auto;
    }
}

.fun-live {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url(./assets/img/common/fun-live-bkg.jpg);
    display: none;
    transition: opacity .8s ease-in-out;
    opacity: 0;

    &.active {
        display: block;
        opacity: 1;
    }
}

.not-support {
    .mask {
        background-color: rgba(0, 0, 0, 0.8);
    }


    .content {
        position: absolute;
        top: 20px;

        .txt {
            font-size: 16px;
            color: #ffffff;
            width: 90%;
            text-align: center;
            margin: 0 auto;
        }

        .icon {
            padding-bottom: 20px;
            display: flex;
            justify-content: center;

            i {

                width: 50px;
                height: 50px;
                background-repeat: no-repeat;
                background-size: contain;
                background-position: center;
                flex: 0 0 20%;

                &.chrome {
                    background-image: url("./assets/img/icon/chrome.svg");
                }

                &.safari {
                    background-image: url("./assets/img/icon/safari.svg");
                }
            }

        }
    }
}

.back-game {
    position: absolute;
    z-index: 99999;
    width: 100%;
    height: 100%;

    .mask {
        background-color: rgba(0, 0, 0, 0.8);
    }

    .start-btn {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        background: url(./assets/img/common/start_btn.svg) center no-repeat;
        padding-top: 18%;
        width: 100%;
        display: block;
        background-size: contain;
    }
}
