body {

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    &.Live_QuadrupleDice {
        background-image: linear-gradient(to top, #bd28fe 8%, #6d8df4), linear-gradient(to bottom, rgba(129, 129, 129, 0.7), rgba(129, 129, 129, 0.7));
    }

    &.Live_FireDice {
        background-image: linear-gradient(to top, #bd28fe 8%, #6d8df4), linear-gradient(to bottom, rgba(129, 129, 129, 0.7), rgba(129, 129, 129, 0.7));
    }

    &.Live_FireDiceTurbo {
        background-image: linear-gradient(to top, #bd28fe 8%, #6d8df4), linear-gradient(to bottom, rgba(129, 129, 129, 0.7), rgba(129, 129, 129, 0.7));
    }

    &.Live_DoubleCards {
        background-image: linear-gradient(to top, #16001f, #561f78), linear-gradient(to bottom, rgba(129, 129, 129, 0.7), rgba(129, 129, 129, 0.7))
    }

    &.Live_DoubleCardsTurbo {
        background-image: linear-gradient(to top, #16001f, #561f78), linear-gradient(to bottom, rgba(129, 129, 129, 0.7), rgba(129, 129, 129, 0.7))
    }

    &.Live_PB_DoubleCards {
        background-image: linear-gradient(to top, #171614, #333333);
    }

    &.Live_WesternJourney {
        background-image: url("./assets/img/common/Live_WesternJourney/bkg.jpg");
    }

    &.Live_Jungle {
        background-image: url("./assets/img/common/Live_Jungle/bkg.jpg");
    }

    &.Live_SnakeLady {
        background-image: url("./assets/img/common/Live_SnakeLady/bkg.jpg");
    }

    &.Live_ChineseNoodle {
        background-image: url("./assets/img/common/Live_ChineseNoodle/bkg.jpg");
    }

    &.Live_Spin168 {
        background-image: url("./assets/img/common/Live_Spin168/bkg.jpg");
    }

    &::after {
        position: absolute;
        width: 0;
        height: 0;
        overflow: hidden;
        z-index: -1; // hide images
        content: url(./assets/img/common/boost-freespins.png) url(./assets/img/common/bird_win.png) url(./assets/img/common/boost-rule-bkg.png) url(./assets/img/common/bird_win.png) url(./assets/img/common/bird_loop.png) url(./assets/img/common/boost-collect-bar.png) url(./assets/img/common/boost-collect-progress-bar.png) url(./assets/img/common/bird_light.png) url(./assets/img/common/freeplay-ribbon.png) url(./assets/img/en-us/freeplay.png); // load images
    }
}

.dashboard {
    overflow: hidden;
    position: relative;
    max-width: 720px;
    max-height: 1280px;
    // min-width: 320px;
    // min-height: 568px;
    height: 100vh;
    margin: 0 auto;

    .debug {
        position: absolute;
        top: 0;
        z-index: 9999999;
        width: 100%;
        word-break: break-word;
        background: #f6f6f6;
    }

    .ribbon {
        padding: 5px 0px 0px 30px;
        background-image: url(./assets/img/common/freeplay-ribbon.png);
        height: 75px;
        background-repeat: no-repeat;
        width: 100%;
        position: absolute;
        top: 0;

        .freeplay {
            background-image: url("./assets/img/"+ $def-lang + "/freeplay.png");
        }

        &:lang(en-us) {
            padding: 5px 0px 0px 30px;

            .freeplay {
                background-image: url(./assets/img/en-us/freeplay.png);
            }
        }

        &:lang(zh-cn) {
            padding: 10px 0px 0px 40px;

            .freeplay {
                background-image: url(./assets/img/zh-cn/freeplay.png);
            }
        }

        .freeplay {
            background-image: url("./assets/img/"+ $def-lang + "/freeplay.png");
            background-repeat: no-repeat;
            width: 100%;
            height: 100%;
        }
    }

    .mask {
        width: 100%;
        height: 100vh;
        position: absolute;
        top: 0;
    }

    .greetings {
        overflow-x: hidden;
    }

    iframe[name="game"] {
        border: none;
        display: block;
        position: absolute;
        width: 100%;
        margin: 0 auto;
        bottom: 52px;
    }

    .program-time {
        position: absolute;
        top: 57px;
        left: 8px;
    }

    .gift-section {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
    }

    .mute-switcher {
        cursor: pointer;
        position: absolute;
        top: 14px;
        right: 13px;
    }



    .scrollbar-style {
        scrollbar-color: #6c6c6c85 #80808000;
        scrollbar-width: thin;

        &:hover {
            &::-webkit-scrollbar-thumb {
                background: #6c6c6c85;
            }
        }

        &::-webkit-scrollbar {
            width: 5px;
        }

        &::-webkit-scrollbar-track {
            -webkit-border-radius: 10px;
            border-radius: 10px;
            margin: 5px 0 5px 0;
        }

        &::-webkit-scrollbar-thumb {
            -webkit-border-radius: 4px;
            border-radius: 4px;


        }
    }

    .ellipsis {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    .greeting {
        height: 50px;
        width: 50px;
        position: absolute;
        bottom: 50px;
        animation-fill-mode: forwards;
        will-change: transform;
    }

    .x1 {
        right: 10px;
    }

    .x2 {
        right: 25px;
    }

    .x3 {
        right: 40px;
    }

    .x4 {
        right: 55px;
    }

    .x5 {
        right: 70px;
    }

    .s1 {
        animation: floating 1s linear forwards;
    }

    .s2 {
        animation: floating 2s linear forwards;
    }

    .s3 {
        animation: floating 3s linear forwards;
    }

    .s4 {
        animation: floating 4s linear forwards;
    }

    .s5 {
        animation: floating 5s linear forwards;
    }

    @keyframes slide-in-out {
        0% {
            transform: translateX(100vw);
            opacity: 0;
        }

        30% {
            transform: translateX(0%);
            opacity: 1;
        }

        80% {
            transform: translateX(0%);
            opacity: 1;
        }

        100% {
            transform: translateX(-100%);
            opacity: 0;
        }
    }

    @keyframes fade-in-out {
        0% {
            opacity: 0;
        }

        17% {
            opacity: 1;
        }

        83% {
            opacity: 1;
        }

        100% {
            opacity: 0;
        }
    }

    @keyframes floating {
        0% {
            opacity: .3;
            transform: translate(0, 0);
        }

        50% {
            opacity: .3;
            transform: translate(10px, -50vh);
        }

        100% {
            opacity: 0;
            transform: translate(-30px, -100vh);
        }
    }

    @keyframes slide-up {
        0% {
            transform: translateY(100%);
            opacity: 0;
        }

        100% {
            transform: translateY(0%);
            opacity: 1;
        }
    }
}

.loading {
    z-index: 1;
}

@media (max-width: 320px) {
    .dashboard {
        height: unset;
    }
}
