<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport"
        content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no,shrink-to-fit=no">
    <link rel="stylesheet" href="style/style.css">
    <title>Live Game</title>
    <% if(htmlWebpackPlugin.options.weinreScript) { %>
        <script src="<%= htmlWebpackPlugin.options.weinreScript %>" ></script>
    <% } %>
</head>

<body>
    <!-- <div id="turn">
      Please rotate your device!
    </div> -->
    <div id="root"></div>
    <!-- <script src="https://cdn.trackjs.com/agent/v3/latest/t.js"></script>
    <script src="https://browser.sentry-cdn.com/5.5.0/bundle.min.js" integrity="sha384-/kLYKYxlMDI1l+lhDHECQrq1Z4fnk/A32MWVF6rRnuE2WiOuAmg3wr3McNOG3Szi" crossorigin="anonymous"></script>
    <script>
        window.TrackJS && TrackJS.install({
            token: "db25e7928fca4144938313f17c641fc3"
            // for more configuration options, see https://docs.trackjs.com
        });
        TrackJS.console.log({
            message: "test"
        });

        Sentry.init({ dsn: 'https://0427c60a921d482eb12970543a26b4ae@sentry.io/1516910' });
    </script> -->
  </body>
</html>
